/* 
    DeckSpace - CSS stylesheet
    Made with <3 by @lucAmbr0 
*/

/* ---------------  COLOR PALETTE VARIABLES  --------------- */

:root {
    --palette-50: 255, 241, 241;
    --palette-100: 255, 224, 224;
    --palette-200: 255, 198, 198;
    --palette-300: 255, 159, 159;
    --palette-400: 255, 104, 104;
    --palette-500: 251, 56, 56;
    --palette-600: 232, 26, 26;
    --palette-700: 202, 18, 18;
    --palette-800: 161, 19, 19;
    --palette-900: 134, 22, 22;
    --palette-950: 73, 6, 6;

    --HeadingFont: "SUSE";
    --StandardTextFont: "Noto Sans";
}

/* -------------------- FONTS --------------------*/

@font-face {
    font-family: 'Noto Sans';
    src: url('Fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'SUSE';
    src: url('Fonts/SUSE/SUSE-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Material Outlined';
    src: url('Fonts/Material_Symbols/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}