/* 
    DeckSpace - CSS stylesheet
    Made with <3 by @lucAmbr0 
*/

/* ---------------  COLOR PALETTE VARIABLES  --------------- */

:root {
    --palette-50: 255, 241, 241;
    --palette-100: 255, 224, 224;
    --palette-200: 255, 198, 198;
    --palette-300: 255, 159, 159;
    --palette-400: 255, 104, 104;
    --palette-500: 251, 56, 56;
    --palette-600: 232, 26, 26;
    --palette-700: 202, 18, 18;
    --palette-800: 161, 19, 19;
    --palette-900: 134, 22, 22;
    --palette-950: 73, 6, 6;

    --HeadingFont: "SUSE";
    --StandardTextFont: "Noto Sans";
}

.DARKMODE {
    --palette-950: 255, 241, 241;
    --palette-900: 255, 224, 224;
    --palette-800: 255, 198, 198;
    --palette-700: 255, 159, 159;
    --palette-600: 255, 104, 104;
    --palette-500: 251, 56, 56;
    --palette-400: 232, 26, 26;
    --palette-300: 202, 18, 18;
    --palette-200: 161, 19, 19;
    --palette-100: 134, 22, 22;
    --palette-50: 73, 6, 6;
}

/* -------------------- FONTS --------------------*/

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'SUSE';
    src: url('fonts/SUSE/SUSE-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Material Outlined';
    src: url('fonts/Material_Symbols/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

/* -------------------- ANIMATIONS --------------------*/

@keyframes leftToRight {
    0% {
        transform: translateX(-60px) rotate(-3deg);
        opacity: 0;
    }

    70% {
        transform: translateX(2px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes balanceControlsEntrance {
    0% {
        opacity: 0;
        scale: 0.7;
        clip-path: inset(0 100% 0 0 round 50px);
    }

    70% {
        scale: 1.05;
    }

    100% {
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0 round 50px);
    }
}

@keyframes logoZoomIn {
    0% {
        scale: 0.8;
        opacity: 0;
        transform: rotate(-10deg);
    }

    70% {
        scale: 1.03;
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
        opacity: 1;
    }
}

@keyframes buttonsZoomIn {
    0% {
        scale: 0.8;
        opacity: 0;
        transform: rotate(-20deg);
    }

    50% {
        scale: 1.1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
        opacity: 1;
    }
}

@keyframes exitUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes badgeExit {
    0% {
        opacity: 1;
        scale: 1;
    }

    50% {
        opacity: 0.7;
        scale: 0.75;
        transform: translateX(0) rotate(180deg);
    }

    100% {
        scale: 0.8;
        opacity: 0;
        transform: translateX(-20px) rotate(180deg);
    }
}

@keyframes badgeEntrance {
    0% {
        opacity: 0;
        scale: 0.8;
        transform: translateX(20px) rotate(180deg);
    }

    40% {
        opacity: 0.7;
        scale: 0.8;
        transform: translateX(0) rotate(180deg);
    }

    80% {
        scale: 1.05;
        opacity: 1;
        transform: translateX(0) rotate(180deg);
    }

    100% {
        scale: 1;
        opacity: 1;
        transform: translateX(0) rotate(180deg);
    }
}

@keyframes cashUpExit {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

    10% {
        scale: 0.8;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        scale: 0.8;
        transform: translateY(-10px);
    }
}

@keyframes cashDownExit {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

    10% {
        scale: 0.8;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        scale: 0.8;
        transform: translateY(10px);
    }
}


@keyframes cashUpEntrance {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(10px);
    }

    50% {
        scale: 1;
        transform: translateY(0);
    }

    70% {
        scale: 1.1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes cashDownEntrance {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(-10px);
    }

    50% {
        scale: 1;
        transform: translateY(0);
    }

    70% {
        scale: 1.1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes shakeHorizontal {
    0% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* -------------------- RULES --------------------*/

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 32px;
    margin: 5px;
}

h2 {
    font-size: 30px;
    padding: 5px 10px;
}

h3 {
    font-size: 20px;
    margin: 5px;
}

h4 {
    font-size: 18px;
    margin: 5px;
}

.upsideDown {
    transform: rotate(180deg);
    text-align: end;
}

.semiTransp {
    opacity: 0.5 !important;
}

/* -------------------- SPLASHSCREEN BOX --------------------*/

#splashScreenBox {
    position: absolute;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    background-color: #151515;
    border-bottom: solid 60px #151515;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 50px 50px;
    z-index: 100;
}

#splashScreenBox img {
    width: 200px;
    height: 200px;
    max-width: 80vw;
    display: flex;
    margin: 40px;
    animation: logoZoomIn 0.3s ease-in-out forwards;
}

#splashScreenAppInfo {
    display: flex;
    flex-direction: column;
    color: rgb(var(--palette-400));
    font-family: var(--HeadingFont);
    opacity: 0;
    animation: leftToRight 0.5s 0.1s ease-in-out forwards;
}

#splashScreenAppInfo h4 {
    color: rgb(var(--palette-300));
}

/* -------------------- GAME SCENE --------------------*/

.gameScene {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 40px;
    background-color: rgb(45, 45, 45);
    width: 100vw;
    height: calc(100vh - 10px);
    background-color: rgb(137, 192, 137);
    position: relative;
    padding: 5px 0;
    /* Nuovo contesto di impilamento */
    z-index: 1;
    /* Imposta un valore inferiore rispetto alle carte */
}

.topBar,
.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 0;
    /* Mantieni il topBar sotto le carte */
}

.bottomBar div {
    border: 0;
    width: fit-content;
    height: 100%;
}

.balanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.balanceContainer div {
    display: flex;
    font-family: var(--HeadingFont);
    align-items: center;
    text-align: center;
    margin: auto 0;
    padding: 0;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}

.actionsContainer button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
    border: 0;
    background-color: rgba(222, 222, 222, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    margin: 1.5px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease scale;
}

.actionsContainer button span {
    color: #151515;
}

.actionsContainer button:active {
    scale: 0.9;
}

.badgeContainer {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.badge {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-family: var(--HeadingFont);
    background-color: rgb(128, 170, 212);
    text-align: center;
    padding: 2px 4px;
    border-radius: 10px;
    border: solid 2px black;
    color: #151515;
    font-size: 41px;
    line-height: 1;
    margin: auto 2px;
}

.badgeContainer span {
    margin-right: 5px;
    font-size: 38px;
    line-height: 1;
}

.mirroredBalanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 0;
}

.mirroredBalanceContainer div {
    margin: auto 0 auto 5px;
}

.mirroredBalanceContainer h2 {
    cursor: pointer;
    font-family: var(--StandardTextFont);
    background-color: rgba(255, 255, 255, 0.3);
    color: #151515;
    text-align: center;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 37px;
    line-height: 1;
    margin: 0;
}

.amountTxt {
    cursor: pointer;
    margin-left: 0px;
    border-radius: 20px 0 0 20px;
    line-height: 1;
    padding: 10px 10px;
    font-size: 20px;
    color: #151515;
    transition: 0.2s color ease-out;
}

/* -------------------- CARD TABLE --------------------*/

.cardsTable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    flex-wrap: nowrap;
    margin: 0 20px;
    overflow-x: scroll;
    overflow-y: visible;
    z-index: 2;
    padding-left: calc((100vh - 130px)/4);
    height: calc(100vh - 105px);
    transform: translateY(5px);
    scroll-behavior: smooth;
}

.gameScene div.card {
    cursor: pointer;
    display: flex;
    height: calc(100vh - 130px);
    aspect-ratio: 2 / 3;
    margin: 0 calc(((100vh - 130px) / 3 * -4/3)/2);
    border-radius: 6vh;
    background-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow: visible;
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 15;
}

/* -------------------- BUTTONS --------------------*/

.redBtn {
    background-color: rgba(165, 30, 30, 0.8);
}

.orangeBtn {
    background-color: rgba(208, 147, 33, 0.8);
}

.yellowBtn {
    background-color: rgba(231, 212, 42, 0.8);
}

.greenBtn {
    background-color: rgba(33, 116, 33, 0.8);
}

.whiteBtn {
    background-color: rgba(255, 255, 255, 0.6);
}

/* -------------------- BALANCE CONTROLS --------------------*/

.balanceAmountContainer .balanceControlsUI,
.betAmountContainer .balanceControlsUI {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 30px;
    padding: 5px 3px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 0 20px 20px 0;
    visibility: visible;
    margin: auto 0;
    align-items: center;
}

.controlsHIDDEN {
    max-width: 0 !important;
    visibility: hidden !important;
}

.userBalanceBtnACTIVE {
    background-color: rgba(0, 0, 0, 0.5);
}

.userBalanceBtnACTIVE h2 {
    color: whitesmoke !important;
}

.balanceControlsUI button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 0 2px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease scale;
    opacity: 0;
}

.balanceControlsUI button span {
    color: #151515;
}

.balanceControlsUI button:active {
    scale: 0.9;
}