/* 
    DeckSpace - CSS stylesheet
    Made with <3 by @lucAmbr0 
*/

/* ---------------  COLOR PALETTE VARIABLES  --------------- */

:root {
    --palette-50: 255, 241, 241;
    --palette-100: 255, 224, 224;
    --palette-200: 255, 198, 198;
    --palette-300: 255, 159, 159;
    --palette-400: 255, 104, 104;
    --palette-500: 251, 56, 56;
    --palette-600: 232, 26, 26;
    --palette-700: 202, 18, 18;
    --palette-800: 161, 19, 19;
    --palette-900: 134, 22, 22;
    --palette-950: 73, 6, 6;

    --HeadingFont: "SUSE";
    --StandardTextFont: "Noto Sans";
}

.DARKMODE {
    --palette-950: 255, 241, 241;
    --palette-900: 255, 224, 224;
    --palette-800: 255, 198, 198;
    --palette-700: 255, 159, 159;
    --palette-600: 255, 104, 104;
    --palette-500: 251, 56, 56;
    --palette-400: 232, 26, 26;
    --palette-300: 202, 18, 18;
    --palette-200: 161, 19, 19;
    --palette-100: 134, 22, 22;
    --palette-50: 73, 6, 6;
}

/* -------------------- FONTS --------------------*/

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'SUSE';
    src: url('fonts/SUSE/SUSE-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Material Outlined';
    src: url('fonts/Material_Symbols/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

/* -------------------- ANIMATIONS --------------------*/

@keyframes leftToRight {
    0% {
        transform: translateX(-60px) rotate(-3deg);
        opacity: 0;
    }

    70% {
        transform: translateX(2px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes balanceControlsEntrance {
    0% {
        opacity: 0;
        scale: 0.7;
        clip-path: inset(0 100% 0 0 round 50px);
    }

    70% {
        scale: 1.05;
    }

    100% {
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0 round 50px);
    }
}

@keyframes logoZoomIn {
    0% {
        scale: 0.8;
        opacity: 0;
        transform: rotate(-10deg);
    }

    70% {
        scale: 1.03;
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
        opacity: 1;
    }
}

@keyframes buttonsZoomIn {
    0% {
        scale: 0.8;
        opacity: 0;
        transform: rotate(-20deg);
    }

    50% {
        scale: 1.1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
        opacity: 1;
    }
}

@keyframes exitUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes badgeExit {
    0% {
        opacity: 1;
        scale: 1;
    }

    50% {
        opacity: 0.7;
        scale: 0.75;
        transform: translateX(0) rotate(180deg);
    }

    100% {
        scale: 0.8;
        opacity: 0;
        transform: translateX(-20px) rotate(180deg);
    }
}

@keyframes badgeEntrance {
    0% {
        opacity: 0;
        scale: 1;
        transform: translateX(20px) rotate(180deg);
    }

    40% {
        opacity: 0.7;
        scale: 1;
        transform: translateX(0) rotate(180deg);
    }

    80% {
        scale: 1.05;
        opacity: 1;
        transform: translateX(0) rotate(180deg);
    }

    100% {
        scale: 1;
        opacity: 1;
        transform: translateX(0) rotate(180deg);
    }
}

@keyframes cashUpExit {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

    10% {
        scale: 0.8;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        scale: 0.8;
        transform: translateY(-10px);
    }
}

@keyframes cashDownExit {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

    10% {
        scale: 0.8;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        scale: 0.8;
        transform: translateY(10px);
    }
}


@keyframes cashUpEntrance {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(10px);
    }

    50% {
        scale: 1;
        transform: translateY(0);
    }

    70% {
        scale: 1.1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes cashDownEntrance {
    0% {
        opacity: 0;
        scale: 0.9;
        transform: translateY(-10px);
    }

    50% {
        scale: 1;
        transform: translateY(0);
    }

    70% {
        scale: 1.1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes shakeHorizontal {
    0% {
        transform: translateX(10%);
    }

    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(10%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes cardDraw {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes coverCard {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(10%);
        opacity: 0;
    }
}

@keyframes uncoverCard {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes removeCard {
    0% {
        transform: translateY(0) translateX(0) rotate(0);
        opacity: 1;
        scale: 1;
    }

    100% {
        transform: translateY(-60%) translateX(-15%) rotate(30deg);
        opacity: 0;
        scale: 0.7;
    }
}

@keyframes disappearMoveRight {
    0% {
        transform: translateX(0%);
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(33%);
    }
}

@keyframes disappearMoveLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        /* opacity: 0; */
    }

    100% {
        transform: translateX(-33%);
    }
}

@keyframes opacityIn {
    0% {
        transform: translateX(5%);
        opacity: 0.4;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes settingsIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    60% {
        transform: translate(-50%, -50%) scale(1.02);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes settingsOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.90);
    }
}

/* -------------------- RULES --------------------*/

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

body {
    overscroll-behavior: contain;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 32px;
    margin: 5px;
}

h2 {
    font-size: 30px;
    padding: 5px 10px;
}

h3 {
    font-size: 20px;
    margin: 5px;
}

h4 {
    font-size: 18px;
    margin: 5px;
}

.upsideDown {
    transform: rotate(180deg);
    text-align: end;
}

.semiTransp {
    opacity: 0.5 !important;
}

/* -------------------- SPLASHSCREEN BOX --------------------*/

#splashScreenBox {
    position: absolute;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    background-color: #151515;
    border-bottom: solid 60px #151515;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 50px 50px;
    z-index: 100;
}

#splashScreenBox img {
    width: 200px;
    height: 200px;
    max-width: 80vw;
    display: flex;
    margin: 40px;
    animation: logoZoomIn 0.3s ease-in-out forwards;
}

#splashScreenAppInfo {
    display: flex;
    flex-direction: column;
    color: rgb(var(--palette-400));
    font-family: var(--HeadingFont);
    opacity: 0;
    animation: leftToRight 0.5s 0.1s ease-in-out forwards;
}

#splashScreenAppInfo h4 {
    color: rgb(var(--palette-300));
}

/* -------------------- GAME SCENE --------------------*/

.gameScene {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 40px;
    background-color: rgb(45, 45, 45);
    width: 100vw;
    height: calc(100vh - 10px);
    background-color: rgb(137, 192, 137);
    background-color: rgb(4, 60, 68);
    background-color: rgb(7, 65, 51);
    position: relative;
    padding: 5px 0;
    z-index: 1;
}

.topBar,
.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 0;
    /* Mantieni il topBar sotto le carte */
}

.bottomBar div {
    border: 0;
    width: fit-content;
    height: 100%;
}

.balanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.balanceContainer div {
    display: flex;
    font-family: var(--HeadingFont);
    align-items: center;
    text-align: center;
    margin: auto 0;
    padding: 0;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}

.actionsContainer button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
    border: 0;
    background-color: rgba(222, 222, 222, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    margin: 2px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease scale, 0.2s ease opacity;
}

.actionsContainer button span {
    color: #151515;
}

.actionsContainer button:active {
    scale: 1.1;
    opacity: 1;
}

.badgeContainer {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.badge {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-family: var(--HeadingFont);
    background-color: rgb(128, 170, 212);
    text-align: center;
    padding: 2px 4px;
    border-radius: 10px;
    border: solid 2px black;
    color: #151515;
    font-size: 41px;
    line-height: 1;
    margin: auto 2px;
}

.badgeContainer span {
    margin-right: 5px;
    font-size: 38px;
    line-height: 1;
}

.mirroredBalanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 0;
}

.mirroredBalanceContainer div {
    margin: auto 0 auto 5px;
}

.mirroredBalanceContainer h2 {
    cursor: pointer;
    font-family: var(--StandardTextFont);
    background-color: rgba(255, 255, 255, 0.3);
    color: #151515;
    text-align: center;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 37px;
    line-height: 1;
    margin: 0;
}

.amountTxt {
    cursor: pointer;
    margin-left: 0px;
    border-radius: 20px 0 0 20px;
    line-height: 1;
    padding: 10px 10px;
    font-size: 20px;
    color: #151515;
    transition: 0.2s color ease-out;
}

/* -------------------- CARD TABLE --------------------*/

.cardsTable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    flex-wrap: nowrap;
    margin: 0 20px;
    overflow-x: scroll;
    overflow-y: visible;
    z-index: 2;
    padding-left: calc((100vh - 130px)/4);
    height: calc(100vh - 105px);
    transform: translateY(5px);
    scroll-behavior: smooth;
}

.gameScene div.card {
    cursor: pointer;
    display: inline-block;
    height: calc(100vh - 130px);
    aspect-ratio: 2 / 3;
    margin: 0 calc(((100vh - 130px) / 3 * -4/3)/2);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    z-index: 10;
    animation: cardDraw 0.2s ease-in-out forwards;
    overflow: visible;
    transition: all 0.2s ease;
}

.gameScene div.card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    /* Makes sure the SVG covers the whole div */
    background-position: center;
    /* Centers the background */
    background-repeat: no-repeat;
    image-rendering: pixelated;
    /* Preserve pixel sharpness */
    image-rendering: crisp-edges;
    /* Fallback for older browsers */
    transition: all 0.2s ease;
}

/* .gameScene div.card img:hover {
    transform: translateY(-10px);
} */

/* -------------------- BUTTONS --------------------*/

.redBtn {
    background-color: rgba(234, 122, 119, 0.8);
}

.orangeBtn {
    background-color: rgba(228, 190, 119, 0.8);
}

.yellowBtn {
    background-color: rgba(255, 247, 171, 0.8);
}

.greenBtn {
    background-color: rgba(142, 204, 142, 0.8);
}

.whiteBtn {
    background-color: rgba(255, 255, 255, 0.6);
}

/* -------------------- BALANCE CONTROLS --------------------*/

.balanceAmountContainer .balanceControlsUI,
.betAmountContainer .balanceControlsUI {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 30px;
    padding: 5px 3px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 0 20px 20px 0;
    visibility: visible;
    margin: auto 0;
    align-items: center;
}

#mirroredBetTxt {
    color: #a51e1e;
    opacity: 0.8;
}

.controlsHIDDEN {
    max-width: 0 !important;
    visibility: hidden !important;
}

.userBalanceBtnACTIVE {
    background-color: rgba(0, 0, 0, 0.5);
}

.userBalanceBtnACTIVE h2 {
    color: whitesmoke !important;
    text-shadow: 0 0 2px black;
}

.balanceControlsUI button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 0 2px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease scale;
    opacity: 0;
}

.balanceControlsUI button span {
    color: #151515;
}

.balanceControlsUI button:active {
    scale: 0.9;
}

/* -------------------- SETTINGS TAB --------------------*/

.HIDDEN {
    display: none !important;
}

.preferencesDetailsContainer div.horizontalSeparator {
    display: flex;
    width: 95% !important;
    margin: 10px auto 0 auto;
    height: 2px !important;
    border-radius: 1px;
    background-color: rgba(230, 230, 230, 0.5);
}

.settingsContainer {
    z-index: 20;
    position: fixed;
    width: 95vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center; /* Ensures scaling happens from the center */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4vh);
    border-radius: 30px;
    animation: settingsIn 0.3s ease forwards;
}

.settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.settingsHeader h2 {
    display: flex;
    font-family: var(--HeadingFont);
    color: rgb(230, 230, 230);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.settingsHeader button {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    background-color: rgba(230, 230, 230);
    border-radius: 20px;
    border: none;
    transition: .2s ease scale;
}

.settingsHeader button:active {
    scale: 0.9;
}

.settingsHeader button span {
    margin: auto;
    font-size: 25px;
}

.embeddedSettingsSectionsContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: calc(95vh - 70px);
    padding: 0 10px;
    gap: 10px;
}

.embeddedSettingsSectionsContainer div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.preferencesListContainer {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    height: calc(95vh - 70px) !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.settingCategoryBtn {
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    padding: 10px 10px;
    height: fit-content;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease background-color;
}

.settingCategoryBtn:active {
    background-color: rgba(20,20,20,1);
}

.categoryActive {
    background-color: rgba(20,20,20,1);
}

.settingCategoryBtn:first-of-type {
    border-radius: 15px 15px 5px 5px !important;
}

.settingCategoryBtn:last-of-type {
    border-radius: 5px 5px 15px 15px !important;
    margin-bottom: 5px;
}

.settingCategoryBtn h1 {
    display: flex;
    color: rgb(220, 220, 220);
    font-family: var(--HeadingFont);
    font-size: 28px;
    text-align: left;
    margin: 0 0 5px 0;
    padding: 0;
}

.settingCategoryBtn p {
    display: flex;
    color: rgb(190, 190, 190);
    font-family: var(--StandardTextFont);
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.preferencesDetailsContainer {
    background-color: rgba(0, 0, 0, 0.4);
    height: calc(95vh - 70px) !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nothingToShow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothingToShow h2 {
    padding: 5% 20%;
    font-size: 14px;
    color: rgb(200, 200, 200);
    font-family: var(--StandardTextFont);
    text-align: center;
}

#darkOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,0.3);
    z-index: 15;
}

/* -------------------- SETTINGS DETAILS --------------------*/

.categoryDetailsContainer {
    animation: uncoverCard 0.2s ease forwards;
}

.switch-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 85px;
    height: fit-content !important;
    align-items: center;
}

.switch-container button {
    margin-left: auto !important;
}

.switch-container input,
.switch-container label,
.switch-container button {
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-align: center;
}

.switch-label {
    display: flex;
    grid-column: 1;
    font-family: var(--StandardTextFont);
    text-align: left;
    font-weight: 400;
    align-items: center;
    padding: 0px 20px;
    color: rgb(240, 240, 240);
    font-size: 20px;
    line-height: 1;
}

.switch {
    grid-column: 2;
    margin-right: 20px;
}

.switch-input {
    display: none !important;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 40px;
    background-color: rgb(139, 175, 207);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s background-color ease;
}

.switch-toggle:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-input:checked+.switch-toggle {
    background-color: rgb(54, 125, 187);
}

.switch-input:checked+.switch-toggle:before {
    transform: translateX(25px);
}

.numberInput {
    width: 65px;
    background-color: #dfdfdf;
    margin: 5px 0;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 0;
}


/* -------------------- ABOUT SECTION --------------------*/

.appInfoBox {
    display: flex;
    flex-direction: column;
    /* height: calc(95vh - 70px);
    height: fit-content !important; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.appInfoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content !important;
    margin: 0 0;
}

.appInfoBox h1 {
    font-size: 30px !important;
    text-align: center;
    color: rgb(240, 240, 240);
    font-family: var(--HeadingFont);
    scroll-snap-align: start;
}

.grid {
    display: grid;
    width: 90% !important;
    height: fit-content !important;
    gap: 15px 5px;
    font-family: var(--StandardTextFont);
    grid-template-columns: auto auto;
    margin: 20px auto;
}

.alignRight {
    text-align: right !important;
}

.appInfoBox p {
    font-size: 20px !important;
    text-align: left;
    color: rgb(235, 235, 235);
    margin: 0 5% !important;
}

.roundedWakaBadge {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(14, 128, 193, 0.3);
}

.developerCreditsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

.developerTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content !important;
}
.developerTitleContainer img {
    margin-right: 10px;
}

.developerTitleContainer p {
    font-size: 24px;
    color: rgb(220, 220, 220);
    font-family: var(--StandardTextFont);
    text-decoration: underline;
    margin: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.appLogo {
    border-radius: 20%;
    box-shadow: 0 0 15px rgba(165, 30, 30, 0.5);
}

.nerdLinksContainer {
    height: fit-content !important;
    display: flex;
    justify-content: center;
}
.nerdLinks {
    font-family: var(--StandardTextFont);
    color: rgb(220, 220, 220);
    font-size: 12px;
    margin: 0 10px;
}

.scrollContainer {
    scroll-snap-type: y mandatory;
}